<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

{{ partial "helpers/style-bundle.html" . }}

<!--================= favicon =========================-->
{{ if .Site.Params.logo.favicon }}
  {{ $favicon := resources.Get .Site.Params.logo.favicon }}
  {{ if $favicon }}
    <link rel="icon" type="image/png" href="{{ $favicon.RelPermalink }}" />
  {{ else }}
    <link rel="icon" type="image/png" href="{{ .Site.Params.logo.favicon | relURL }}" />
  {{ end }}
{{ else }}
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
{{ end }}



